@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Banner image*/
.header {
  width: 100%;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  }

.header img {
  width: 100%;
}

/* global styling*/
html{
  font-family: "Montserrat";
  margin: 0rem 2rem;
}

/* Styling for the image container and the items inside it */
.container{
  display: flex; 
  flex-wrap: wrap; 
}

/*Items for all the screenshots and pictures of your stuff*/
.item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 30%;
  min-width: 8rem;
  margin: auto;
}
 .item-info{
   padding: 0.1rem;
   text-align: center;
 }

.item img{
  width: 100%;
}

/*the navbar styling goes here*/
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5DAE6C;
  top: 0;
  width: 100%;
}

nav ul li{
  float: left;
  font-size: 1rem;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover{
  background-color: #3a6442;
}

nav #active{
  background-color: #3a6442;
}

h1 {
color: #5DAE6C;
font-family: "Rubik", sans-serif;
font-size: 40px;
font-weight: bold;
text-align: center;
}
h2 {
color: #5DAE6C;
font-family: "Rubik", sans-serif;
font-weight: bold;
text-align: center;
}
body{
  background-color: white;
  font-family: "Rubik", sans-serif;
}
p{
  color: black;
}
h5{
  color: #3a6442;
}
h3{
  color: #5DAE6C;
}
.headtext{
  font-family: "Bebas Neue", sans-serif;
}